.title{
    text-align: center;
    color:#212EA0;
    font-size:15px;
    font-weight: 600;
    text-transform: uppercase ;
    margin: 70px 0 30px;
}

.title h1{
    font-size: 38px;
    color:brown;
    margin-top:5px;
    text-transform: none;
}